<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello world!</title>


</head>
<body>
<h1>Hello World!</h1>

<div id="app">
    Loading
</div>

<script type="text/x-template" id="appTemplate">
    <data-table></data-table>
</script>

<script type="text/x-template" id="tableApp">
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>action</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Alice</td>
            <td><a href="#" v-on:click="remove">Delete</a></td>
        </tr>


    </table>
</script>

</body>


<script src="https://unpkg.com/vue"></script>


<script>

    function getTableClass(template) {
        return Vue.component('data-table', {

            template: template,
            methods: {
                remove() {
                    fetch('http://localhost:3001/?table=1').then((data) => {
                        return data.text();
                    })
                        .then((text) => {
                            let Table = getTableClass(text);
                            let table = new Table();

                            table.$mount(this.$el);

                        })
                }
            }
        });
    }

    let table = getTableClass('#tableApp');

    console.log('table', table);

    let app = new Vue({
        el: '#app',
        template: '#appTemplate'
    });
</script>

</html>